html, body {
    padding: 0;
    margin: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
}

#map {
	position: absolute;
	bottom: 0;
	height: 100vh;
	width: 100vw;
}

.legend {
    width: 100px;
    line-height: 18px;
    fill: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}